{
  "presets": [
    [
      // https://babeljs.io/docs/en/babel-preset-env#browserslist-integration
      "@babel/preset-env",
      {
        // https://babeljs.io/docs/en/babel-preset-env#usebuiltins
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties"
  ]
}
